*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background-image: url(form.jpg);
    background-size: cover;
    position: relative;
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-box{
    border-radius: 20px;
    position: absolute;
    background-color: #fff;
    width: 90%;
    max-width: 450px;
    padding: 20px 30px 60px;
    text-align: center;
}
.form-box h1{
    font-size: 1.5rem;
    margin-bottom: 60px;
    color: blueviolet;
}
.input-field{
    background-color: rgb(227, 211, 211);
    margin: 15px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-height: 60px;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    color: #4d072a;
}
.input-field i{
margin-left: 15px;
color: blueviolet;
}
form p{
    text-align: left;
    font-size: 1rem;

}
form p a{
    padding-left: 5px;
    text-decoration: none;
    color: purple;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.btn-field button{
    flex-basis: 45%;
    background-color:  blueviolet;
    height: 40px;
    color: #fff;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background-color 1s;
}
.btn-field button:hover{
    background-color: rgb(93, 18, 163);
}
.btn-field button.disable{
    background-color: rgb(235, 229, 240);
    color: rgb(52, 50, 50);
}
